/* footer */
footer {
  display: flex;
  font-size: 25px;

  bottom: 0px;
  width: 100vw;
  /* padding: 0px 30px 93px 30px; */
  padding: 0vh 1.565vw 8.612vh 1.565vw;
}

a {
  text-decoration: none;
}

.footer-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 30%;
  /* border: 1px solid red; */
}
.footer-left-imp {
  /* padding: 0 93px 0 93px; */
  padding: 0 4.85vw 0 4.85vw;
}
.footer-left-imp a {
  display: block;
}

.footer-right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 70%;
  /* border: 1px solid blue; */
}

.footer-right-social a {
  display: block;
}
.footer-right-contact {
  padding: 0 9vw 0 9vw;
}
.footer-right-contact a {
  display: block;
}

@media (max-width: 1600px) {
  footer {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  footer {
  
    font-size: 14px;
    padding: 0vh 2.4vw 2vh 2.4vw;
  }
  .footer-left {
    display: inline;
  }
  .footer-left-imp {
    padding: 0;
  }
}

@media (max-width: 375px) {
  footer {
    font-size: 12px;
  }
}
