/* footer */
footer {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  bottom: 0px;
  width: 100%;
  padding: 10.8vw 2.19vw 4.3vw 2.19vw;
}

a {
  text-decoration: none;
  padding-bottom: 0.5rem;
}

.footer-left {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-left-desktop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.footer-left-mobile {
  display: none;
}
.footer-left-desktop img {
  height: 25px;
}
.footer-left-desktop a {
  padding: 0;
}
.footer-left-desktop p {
  line-height: 25px;
  padding-left: 0.5vw;
}

.footer-right {
  display: flex;
  align-items: flex-start;
}

.footer-right-social a {
  display: block;
}

.footer-right-friends a {
  display: block;
}

.footer-right-mail a {
  display: block;
}

.footer-right-social {
  padding-left: 9vw;
}
.footer-right-friends {
  padding-left: 9vw;
}
.footer-right-impressum {
  padding-left: 9vw;
}

.footer-right-impressum a {
  display: block;
}

@media (max-width: 1600px) {
  footer {
    font-size: 20px;
  }
  .footer-left-desktop img {
    height: 20px;
  }
  .footer-right-social {
    padding-left: 7vw;
  }
  .footer-right-friends {
    padding-left: 7vw;
  }
  .footer-right-impressum {
    padding-left: 7vw;
  }
}

@media (max-width: 1000px) {
  footer {
    font-size: 18px;
  }
  .footer-left-desktop img {
    height: 18px;
  }

  .footer-right-social {
    padding-left: 5vw;
  }
  .footer-right-friends {
    padding-left: 5vw;
  }
  .footer-right-impressum {
    padding-left: 5vw;
  }
}
@media (max-width: 768px) {
  footer {
    font-size: 16px;
  }
  .footer-left-desktop img {
    height: 16px;
  }
  .footer-right-social {
    padding-left: 4vw;
  }
  .footer-right-friends {
    padding-left: 4vw;
  }
  .footer-right-impressum {
    padding-left: 4vw;
  }
}
@media (max-width: 650px) {
  footer {
    font-size: 15px;
  }
  .footer-left-desktop img {
    height: 15px;
  }
  .footer-right-social {
    padding-left: 3vw;
  }
  .footer-right-friends {
    padding-left: 3vw;
  }
  .footer-right-impressum {
    padding-left: 3vw;
  }
}

@media (max-width: 560px) {
  footer {
    font-size: 14px;
  }
  .footer-left-desktop img {
    height: 14px;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 0vh 2.4vw 6vh 2.4vw;
  }
  .footer-left-desktop {
    display: none;
  }

  .footer-left-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer-left-mobile a {
    display: block;
    padding-bottom: 0.3rem;
  }
  .footer-left-mobile p {
    padding-bottom: 0.3rem;
  }
  .footer-left-mobile div {
    padding: 0;
  }
  .footer-left-mobile-mail {
    display: flex;
    flex-direction: column;
  }
  .footer-right {
    display: none;
  }
}

@media (max-width: 375px) {
}
