main {
  flex-direction: column;
  margin-left: 0vw;
  margin-right: 0vw;
  margin-top: 0;
}

.main-text {
  display: flex;
  margin-top: 9.5vh;
  padding: 8.5vh 0 8.5vh 0;
  justify-content: center;
  align-items: center;
  /* fixed vh bug in mobile version in the js file */
  /* height: 75vh; */
  font-size: 70px;
}
.indented {
  text-indent: 22%;
}

.slider-container {
  display: flex;
  flex-direction: column;
  background-color: black;
}
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82vh;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: url("../fonts/cursor_right.png"), pointer;
}

.arr-container-left {
  opacity: 0;
  height: 100%;
  width: 50%;
  cursor: url("../fonts/cursor_left.png"), pointer;
}
.arr-container-right {
  opacity: 0;
  height: 100%;
  width: 50%;
  cursor: url("../fonts/cursor_right.png"), pointer;
}

.slider-sub {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 14.4vh;
}

.slider-sub-left {
  padding-left: 2.51%;
}

#dots {
  padding: 0 2vw 0 2vw;
}

.dots {
  font-size: 35px;
}

.slider-sub-right {
  padding-right: 2.51%;
}

.info {
  cursor: pointer;
  padding-right: 2vw;
}

.info:hover {
  font-family: "Non Natural Grotesk Medium";
}
.info:active {
  font-family: "Non Natural Grotesk Light";
}

.slider-counter-current {
  padding-left: 2vw;
}

.info-card {
  display: none;
  position: absolute;
  opacity: 1;
  line-height: 35px;
  /* height: 82vh; */
  width: 100%;
  background-color: white;
  font-size: 22px;
}

.info-card-text-left {
  display: flex;
  max-width: 850px;
  width: 49.15vw;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10.1vh 0 0 8.91vw;
}

.info-card-text-right {
  padding: 10.1vh 0 0 15vw;
}
#slider-1 {
  background-image: url("../pictures/index/01_yes/yes1.jpg");
}
#slider-2 {
  background-image: url("../pictures/index/02_Pfadfinder/pfadfinder_1920x1063px.jpg");
}
#slider-3 {
  background-image: url("../pictures/index/03_ueberbild/ueberbild1.jpg");
}
#slider-4 {
  background-image: url("../pictures/index/04_neunkubikmeter/01_neunkubikmeter.jpg");
}
#slider-5 {
  background-image: url("../pictures/index/05_luemo/luemo_1920x1063px.jpg");
}
#slider-6 {
  background-image: url("../pictures/index/06_united-ip/uip1.jpg");
}
#slider-7 {
  background-image: url("../pictures/index/07_zfkk/zfkk_1920x1063px.jpg");
}
#slider-8 {
  background-image: url("../pictures/index/08_gruppeB/gruppeb_1920x1063px.jpg");
}
#slider-9 {
  background-image: url("../pictures/index/09_365/kalenderblatt_1920x1063px.jpg");
}

/* BREAKPOINTS */
@media (max-width: 1865px) {
  .main-text {
    font-size: 65px;
  }
  .info-card {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 1750px) {
  .main-text {
    font-size: 58px;
  }
}

@media (max-width: 1600px) {
  .slider-sub {
    font-size: 20px;
  }
  .main-text {
    font-size: 55px;
  }
  .slider {
    max-height: 800px;
  }
  .info-card {
    font-size: 18px;
    line-height: 27px;
    max-height: 800px;
  }
  .dots {
    font-size: 25px;
  }
}
@media (max-width: 1515px) {
  .main-text {
    font-size: 50px;
  }
}

@media (max-width: 1400px) {
  .main-text {
    font-size: 45px;
  }
  .slider {
    max-height: 700px;
  }
  .info-card {
    font-size: 16px;
    line-height: 25px;
  }
}
@media (max-width: 1192px) {
  .main-text {
    font-size: 38px;
  }
  .info-card {
    font-size: 14px;
    line-height: 23px;
  }
}
@media (max-width: 1024px) {
  .main-text {
    font-size: 33px;
  }
  .slider {
    max-height: 600px;
  }
  .slider-sub {
    max-height: 150px;
  }
  .info-card {
    max-height: 600px;
  }
  .info-card-text-left {
    padding-top: 6vh;
    padding-bottom: 6vh;
  }
  .info-card-text-right {
    padding-top: 6vh;
    padding-bottom: 6vh;
  }
}
@media (max-width: 880px) {
  .main-text {
    font-size: 29px;
  }
  .slider {
    max-height: 500px;
  }
  .info-card {
    font-size: 12px;
    line-height: 20px;
    max-height: 500px;
  }
}

/* tablet */
@media (max-width: 768px) {
  .main-text {
    font-size: 25px;
  }
  .slider-sub {
    font-size: 18px;
  }
}
@media (max-width: 665px) {
  .main-text {
    font-size: 21px;
  }
  .slider-sub {
    font-size: 16px;
  }
  .info-card {
    font-size: 9px;
    line-height: 18px;
  }
}
@media (max-width: 560px) {
  .main-text {
    font-size: 18px;
  }
  .slider-sub {
    font-size: 15px;
  }
}

/* mobile */
@media (max-width: 480px) {
  #slider-1 {
    background-image: url("../pictures/work/01_work_yes.jpg");
  }
  #slider-2 {
    background-image: url("../pictures/work/02_work_pfad.jpg");
  }
  #slider-3 {
    background-image: url("../pictures/work/03_work_ue.jpg");
  }
  #slider-4 {
    background-image: url("../pictures/work/04_work_neunkubik.jpg");
  }
  #slider-5 {
    background-image: url("../pictures/work/05_work_lue.jpg");
  }
  #slider-6 {
    background-image: url("../pictures/work/06_work_uip.jpg");
  }
  #slider-7 {
    background-image: url("../pictures/work/07_work_zfkk.jpg");
  }
  #slider-8 {
    background-image: url("../pictures/work/08_work_b_5.gif");
  }
  #slider-9 {
    background-image: url("../pictures/work/09_work_365.jpg");
  }
  main {
    margin-top: 0vh;
    margin-bottom: 9.5vh;
  }
  .main-text {
    line-height: 18px;
    font-size: 13px;
    padding: 8.5vh 0 8.5vh 0;
  }

  .slider-sub {
    font-size: 12px;
    height: 14.3vw;
  }
  .slider-sub-right {
    display: none;
  }
  .indented {
    text-indent: 9vw;
  }
  .slider {
    height: 69.5vw;
  }
  .dots {
    font-size: 15px;
  }
  .filter-label {
    display: none;
  }
  .info {
    padding-right: 4vw;
  }
  #dots {
    padding-left: 4vw;
  }
}

@media (max-width: 420px) {
}
@media (max-width: 375px) {
}
