main {
  flex-direction: column;
  margin: 15vh 0vw 18.1vh 0vw;
  
}

.main-text {
  display: flex;
  padding: 0 6.25vw 0 6.25vw;
  flex-direction: column;
  justify-content: flex-start;
  height: 60vh;
  font-size: 70px;
}
.indented {
  text-indent: 22%;
}

.slider-container {
  display: flex;
  flex-direction: column;
  background-color: black;
}
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82vh;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: url("../fonts/cursor_right.png"), pointer;
}
#slider-1 {
  background-image: url("../pictures/index/01_yes/yes1.jpg");
}
.arr-container-left {
  opacity: 0;
  height: 100%;
  width: 50%;
  cursor: url("../fonts/cursor_left.png"), pointer;
}
.arr-container-right {
  opacity: 0;
  height: 100%;
  width: 50%;
  cursor: url("../fonts/cursor_right.png"), pointer;
}

.slider span {
  font-size: 65px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.slider span:hover {
  color: rgba(255, 255, 255, 0.5);
}

.slider span:active {
  color: rgba(255, 255, 255, 1);
}

.slider-sub {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 14.4vh;
}

.slider-sub-left {
  padding-left: 2.51%;
}

#dots {
  padding: 0 2vw 0 2vw;
}

.dots {
  font-size: 35px;
}

.slider-sub-right {
  padding-right: 2.51%;
}

.info {
  cursor: pointer;
  padding-right: 2vw;
}

.slider-counter-current {
  padding-left: 2vw;
}

.info-card {
  display: none;
  position: absolute;
  opacity: 1;
  line-height: 35px;
  height: 82vh;
  width: 100%;
  background-color: white;
  font-size: 22px;
}

.info-card-text-left {
  display: flex;
  max-width: 850px;
  width: 49.15vw;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10.1vh 0 0 8.91vw;
}

.info-card-text-right {
  padding: 10.1vh 0 0 15vw;
}

#slider-2 {
  background-image: url("../pictures/index/02_Pfadfinder/pfadfinder_1920x1063px.jpg");
}
#slider-3 {
  background-image: url("../pictures/index/03_ueberbild/ueberbild1.jpg");
}
#slider-4 {
  background-image: url("../pictures/index/04_neunkubikmeter/neunkubikmeter_1920x1063px.jpg");
}
#slider-5 {
  background-image: url("../pictures/index/05_luemo/luemo_1920x1063px.jpg");
}
#slider-6 {
  background-image: url("../pictures/index/06_united-ip/uip1.jpg");
}
#slider-7 {
  background-image: url("../pictures/index/07_zfkk/zfkk_1920x1063px.jpg");
}
#slider-8 {
  background-image: url("../pictures/index/08_gruppeB/gruppeb_1920x1063px.jpg");
}
#slider-9 {
  background-image: url("../pictures/index/09_365/kalenderblatt_1920x1063px.jpg");
}

/* BREAKPOINTS */
@media (max-width: 1865px) {
  .main-text {
    font-size: 65px;
  }
  .info-card {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 1750px) {
  .main-text {
    font-size: 58px;
  }
}

@media (max-width: 1600px) {
  .slider-sub {
    font-size: 20px;
  }
  .main-text {
    font-size: 55px;
  }
  .info-card {
    font-size: 18px;
    line-height: 27px;
  }
  .dots {
    font-size: 25px;
  }
}
@media (max-width: 1515px) {
  .main-text {
    font-size: 50px;
  }
}

@media (max-width: 1400px) {
  .main-text {
    font-size: 45px;
  }
}
@media (max-width: 1192px) {
  .main-text {
    font-size: 38px;
  }
}
@media (max-width: 1024px) {
  .main-text {
    font-size: 33px;
  }
}
@media (max-width: 880px) {
  .main-text {
    font-size: 29px;
  }
}
@media (max-width: 768px) {
  .main-text {
    font-size: 25px;
  }
}
@media (max-width: 665px) {
  .main-text {
    font-size: 21px;
  }
}
@media (max-width: 560px) {
  .main-text {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  main {
    margin-top: 0px;
    margin-bottom: 9.5vh;
  }
  .main-text {
    /* padding: 3.1vh 25px 6vh 25px; */
    margin: 3.1vh 25px 6vh 25px;
    line-height: 30px;
    font-size: 25px;
    height: 35.3vh;
  }
  div,
  p {
    display: inline;
  }
  .slider-sub {
    font-size: 12px;
    height: 5vh;
  }
  .indented {
    text-indent: 0;
  }
  .slider {
    height: 37vh;
  }
  .dots {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .main-text {
    font-size: 25px;
  }
  .indented {
    text-indent: 0;
  }
}
