main {
  margin: 9.5vh 2.19vw 0 2.19vw;
  padding: 0;
  flex-direction: column;
  align-items: center;
}
.main-text {
  margin-top: 12.45vw;
}
.main-text p {
  font-size: 70px;
}
section {
  width: 100%;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5.3vw;
}

.miriam-koenig {
  width: 33%;
  margin-top: 15vw;
}
.miriam-koenig span {
  font-size: 25px;
}
.border {
  width: 30.4vw;
  border: 1px solid #000000;
  margin: 1.25vw 0;
}
.miriam-koenig p {
  font-size: 20px;
  line-height: 28px;
}
.section-1-text p {
  font-size: 20px;
  line-height: 28px;
}

.section-1-img img {
  width: 52.8vw;
  object-fit: contain;
}

.section-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 4.1vw;
}
.image-2-mobile {
  display: none;
}

.hi-img {
  margin: 5.4vw 0 0 13.9vw;
}
.hi-img img {
  width: 18.85vw;
  object-fit: contain;
}

.section-2-text p {
  font-size: 20px;
  line-height: 28px;
}
.section-2-text span {
  font-size: 25px;
}
.section-2-text-2 {
  width: 30.4vw;
}
.service {
  margin-top: 2vw;
}
.service p {
  margin-bottom: 0.6vw;
}
.section-3 {
  display: flex;
  justify-content: space-between;
  margin-top: 4.1vw;
  font-size: 20px;
  line-height: 28px;
}
.section-3 span {
  font-size: 25px;
}
.hi-container {
  display: flex;
  justify-content: space-between;
}
.address {
  margin-top: 1.5vw;
}
.mail {
  margin-top: 1.5vw;
}
.social {
  margin-top: 1.5vw;
}

.social a {
  display: block;
  padding: 0;
}

.friends {
  margin-top: 2vw;
}
.friends-links a {
  display: block;
  padding: 0;
  margin-bottom: 0.6vw;
}
.friends-links {
  margin-top: 2.5vw;
}
.post-text {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 6.05vw 0 8.1vw 0;
}

.post-text-arr {
  color: #000000;
  font-size: 35px;
}

.section-dots {
  display: none;
}

.image-3-mobile {
  display: none;
}
.image-4-mobile {
  display: none;
}

@media (max-width: 1700px) {
  .main-text p {
    font-size: 60px;
    line-height: 70px;
  }
}
@media (max-width: 1400px) {
  .main-text p {
    font-size: 50px;
    line-height: 60px;
  }
}
@media (max-width: 1200px) {
  .main-text p {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 1068px) {
  .main-text p {
    font-size: 35px;
    line-height: 45px;
  }
  .miriam-koenig span {
    font-size: 20px;
  }
  .section-1-text p {
    font-size: 18px;
    line-height: 26px;
  }
  .section-2 p {
    font-size: 18px;
    line-height: 26px;
  }
  .section-2-text span {
    font-size: 20px;
  }
  .section-3 span {
    font-size: 20px;
  }
  .section-3 p {
    font-size: 18px;
    line-height: 26px;
  }
  .section-3 a {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (max-width: 800px) {
  .main-text p {
    font-size: 28px;
    line-height: 38px;
  }
  .miriam-koenig span {
    font-size: 18px;
  }
  .section-1-text p {
    font-size: 15px;
    line-height: 23px;
  }
  .section-2 p {
    font-size: 15px;
    line-height: 23px;
  }
  .section-2-text span {
    font-size: 18px;
  }
  .section-3 span {
    font-size: 18px;
  }
  .section-3 p {
    font-size: 15px;
    line-height: 23px;
  }
  .section-3 a {
    font-size: 15px;
    line-height: 23px;
  }
}
@media (max-width: 650px) {
  .main-text p {
    font-size: 23px;
    line-height: 33px;
  }
  .miriam-koenig span {
    font-size: 15px;
  }
  .section-1-text p {
    font-size: 13px;
    line-height: 20px;
  }
  .section-2 p {
    font-size: 13px;
    line-height: 20px;
  }
  .section-2-text span {
    font-size: 15px;
  }
  .section-3 span {
    font-size: 15px;
  }
  .section-3 p {
    font-size: 13px;
    line-height: 20px;
  }
  .section-3 a {
    font-size: 13px;
    line-height: 20px;
  }
}
@media (max-width: 550px) {
  .main-text p {
    font-size: 20px;
    line-height: 20px;
  }
  .miriam-koenig span {
    font-size: 13px;
  }
  .section-1-text p {
    font-size: 10px;
    line-height: 18px;
  }
  .section-2 p {
    font-size: 10px;
    line-height: 18px;
  }
  .section-2-text span {
    font-size: 13px;
  }
  .section-3 span {
    font-size: 13px;
  }
  .section-3 p {
    font-size: 10px;
    line-height: 18px;
  }
  .section-3 a {
    font-size: 10px;
    line-height: 18px;
  }
}
/* MOBILE */
@media (max-width: 480px) {
  main {
    margin-top: 15vw;
    margin-right: 0;
    margin-left: 0;
  }

  .main-text {
    display: none;
  }
  .section-1 {
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
  }
  .section-1-img {
    margin-top: 17.8vw;
  }
  .section-1-img img {
    width: 100vw;
  }
  .miriam-koenig {
    display: flex;
    flex-direction: column;
    margin-top: 17.8vw;
    width: 94%;
    margin-left: 3%;
  }
  .miriam-koenig .border {
    margin-bottom: 3vw;
  }
  .miriam-koenig p {
    font-size: 13px;
    line-height: 18px;
  }
  .miriam-koenig .border {
    width: 100%;
  }

  .image-2-mobile {
    display: block;
    margin: 17.8vw 0 17.8vw 0;
    width: 100%;
  }

  .image-2-mobile img {
    width: 100%;
    object-fit: contain;
  }
  .section-2 {
    display: flex;
    flex-direction: column;
  }
  .section-2-text {
    width: 94%;
    margin-left: 3%;
  }
  .section-2-text .border {
    width: 100%;
  }
  .section-2-text p {
    display: inline;
    font-size: 13px;
    line-height: 18px;
  }
  .section-2-text-2 {
    margin-top: 17.8vw;
  }
  .service {
    margin-left: 16.8vw;
  }
  .section-dots {
    display: block;
    margin-top: 8.5vw;
    font-family: sans-serif;
    font-size: 25px;
  }
  .section-2-text-2 p {
    display: block;
    line-height: 25px;
  }

  .image-3-mobile {
    display: block;
    margin: 17.8vw 0 17.8vw 0;
    width: 100%;
  }
  .image-3-mobile img {
    width: 100%;
    object-fit: contain;
  }

  .section-3 {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .friends {
    width: 94%;
    margin-left: 3%;
  }
  .friends .border {
    width: 100%;
  }
  .friends-links {
    margin-left: 16.8vw;
  }

  .friends-links a {
    font-size: 13px;
    line-height: 25px;
  }

  .image-4-mobile {
    display: inline-block;

    margin: 17.8vw 0 17.8vw 0;
    width: 106%;
    transform: translateX(-3%);
  }
  .image-4-mobile img {
    width: 100%;
    object-fit: contain;
  }

  .hi {
    width: 94%;
    margin-left: 3%;
  }
  .hi .border {
    width: 100%;
  }
  .hi-text {
    margin: 9vw 0 0 0;
  }
  .hi-text p {
    font-size: 13px;
    line-height: 25px;
  }
  .hi-text a {
    font-size: 13px;
    line-height: 25px;
  }
  .address {
    margin-top: 6vw;
  }
  .mail {
    margin-top: 6vw;
  }
  .social {
    margin-top: 6vw;
  }

  .hi-img {
    display: none;
  }
  .post-text-dots {
    font-size: 35px;
    margin-left: 3%;
  }
}
