/* navbar */
nav {
  background-color: #fff;
  display: flex;
  position: fixed;
  height: 9.5vh;
  width: 100%;
  font-size: 25px;
  z-index: 100;
  /* padding: 33px 42px 33px 42px; */
  padding: 0 2.19vw 0 2.19vw;
}
.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links-right {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
.nav-links a {
  text-decoration: none;
}

.nav-links li {
  list-style: none;
}

#info {
  padding: 0px 7.3vw 0 7.3vw;
}

.nav-links a:hover {
  font-family: "Non Natural Grotesk Medium";
}

.nav-links a:active {
  font-family: "Non Natural Grotesk Light";
}

/* logo -> studio MK */
#logo {
  position: relative;
}
/* eyes */
#eyes {
  position: absolute;
  font-family: serif;
  left: 55.3%;
  bottom: 44%;
  font-size: 18px;
}

/* tablet */

@media (max-width: 1600px) {
  nav {
    font-size: 20px;
  }
  #eyes {
    font-size: 15px;
    left: 55.3%;
    bottom: 43%;
  }
  #info {
    padding: 0px 7.5vw 0 7.5vw;
  }
}
@media (max-width: 1450px) {
  #info {
    padding: 0px 6.7vw 0 6.7vw;
  }
}
@media (max-width: 1400px) {
  #info {
    padding: 0px 6.6vw 0 6.6vw;
  }
}
@media (max-width: 1200px) {
  #info {
    padding: 0px 4.9vw 0 4.9vw;
  }
}
@media (max-width: 1024px) {
  #info {
    padding: 0px 3.2vw 0 3.2vw;
  }
}
@media (max-width: 768px) {
  nav {
    font-size: 18px;
  }
  #eyes {
    font-size: 14px;
    left: 55%;
    bottom: 38.16%;
  }
}

@media (max-width: 560px) {
  nav {
    font-size: 15px;
  }
  #eyes {
    font-size: 14px;
    left: 54.4%;
    bottom: 30.65%;
  }
}

@media (max-width: 480px) {
  nav {
    height: 43px;
    font-size: 13px;
    padding: 1.75vh 2.4vw;
  }
  #eyes {
    font-size: 12px;
    left: 54.4%;
    bottom: 34%;
  }
}

@media (max-width: 375px) {
  nav {
    font-size: 12px;
  }
  #eyes {
    font-size: 9px;
    left: 55.2%;
    bottom: 43.4%;
  }
}
