/* navbar */
nav {
  background-color: #fff;
  display: flex;
  position: fixed;
  height: 100px;
  width: 100%;
  font-size: 25px;
  z-index: 100;
  /* padding: 33px 42px 33px 42px; */
  padding: 0 2.19vw 0 2.19vw;
}
.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links-right {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.nav-links a {
  text-decoration: none;
}

.nav-links li {
  list-style: none;
}

#info {
  padding: 0px 8vw 0 8vw;
}

.nav-links a:hover {
  font-family: "Non Natural Grotesk Medium";
}
.nav-links a:active {
  font-family: "Non Natural Grotesk Light";
}

@media (max-width: 1600px) {
  nav {
    font-size: 20px;
  }
  #info {
    padding: 0px 8vw 0 8vw;
  }
}

/* tablet */
@media (max-width: 768px) {
  nav {
    font-size: 18px;
  }
}

@media (max-width: 560px) {
  nav {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  nav {
    height: 43px;
    font-size: 13px;
    padding: 1.75vh 2.4vw;
  }
}

@media (max-width: 375px) {
  nav {
    font-size: 12px;
  }
}
