body {
  /* background-color: #000; */
  background-color: #fff;
}
nav {
  background-color: #fff;
}
nav a {
  color: #000;
}
nav span {
  color: #000;
}
#eyes {
  color: #000;
}

main {
  flex-direction: column;
  /* width: 100%; */
  margin: 9.5vh 2.19vw 0 2.19vw;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6.5% 0 0 0;
  width: 100%;
}
.text-container p {
  font-size: 70px;
  color: #000;
}
.grid-container {
  display: grid;
  grid-gap: 1.3vw;
  height: 100%;
  margin: 10.63% 0 19.83% 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(15, 413px);
  grid-template-areas:
    "grid-item-1 grid-item-2 grid-item-3"
    "grid-item-4 grid-item-2 grid-item-3"
    "grid-item-4 grid-item-5 grid-item-6"
    "grid-item-7 grid-item-8 grid-item-9"
    "grid-item-10 grid-item-11 grid-item-9"
    "grid-item-10 grid-item-12 grid-item-13"
    "grid-item-14 grid-item-15 grid-item-16"
    "grid-item-14 grid-item-15 grid-item-16"
    "grid-item-17 grid-item-18 grid-item-19"
    "grid-item-17 grid-item-20 grid-item-21"
    "grid-item-22 grid-item-23 grid-item-24"
    "grid-item-25 grid-item-23 grid-item-24"
    "grid-item-25 grid-item-26 grid-item-27"
    "grid-item-28 grid-item-29 grid-item-30"
    "grid-item-28 grid-item-29 grid-item-31";
}

.grid-item {
  /* display: flex; */
  background-color: grey;
}

.grid-item-click-left {
  width: 50%;
  height: 100%;
  cursor: url("../fonts/cursor_left.png"), pointer;
}
.grid-item-click-right {
  width: 50%;
  height: 100%;
  cursor: url("../fonts/cursor_right.png"), pointer;
}

.grid-item-1 {
  grid-area: grid-item-1;
  background-image: url("../pictures/play/01/01_afvs.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-2 {
  grid-area: grid-item-2;
  /* /* background-image: url("../pictures/play/01/01_pingpongtanja.jpg"); */
  background-position: center;
  background-size: cover;
}
.grid-item-3 {
  grid-area: grid-item-3;
  background-image: url("../pictures/play/01/01_karriereleiter.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-4 {
  grid-area: grid-item-4;
  background-image: url("../pictures/play/01/01_frida.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-5 {
  grid-area: grid-item-5;
  background-image: url("../pictures/play/01/01_play.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-6 {
  grid-area: grid-item-6;
  background-image: url("../pictures/play/01/01_rudi.jpg");
  background-position: center;
  background-size: cover;
}

.grid-item-7 {
  grid-area: grid-item-7;
  background-image: url("../pictures/play/01/01_parapluie_bird.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-8 {
  grid-area: grid-item-8;
  background-image: url("../pictures/play/01/01_flowers.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-9 {
  background-image: url("../pictures/play/01/01_black.jpg");
  background-position: center;
  background-size: cover;
  grid-area: grid-item-9;
}
.grid-item-10 {
  grid-area: grid-item-10;
  background-image: url("../pictures/play/01/01_stone.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-11 {
  grid-area: grid-item-11;
  background-image: url("../pictures/play/01/01_noemotions.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-12 {
  grid-area: grid-item-12;
  background-image: url("../pictures/play/01/01_True-Emotions.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-13 {
  grid-area: grid-item-13;
  background-image: url("../pictures/play/01/01_drink.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-14 {
  grid-area: grid-item-14;
  background-image: url("../pictures/play/01/01_blueman.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-15 {
  grid-area: grid-item-15;
  background-image: url("../pictures/play/01/01_dripdripdrip.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-16 {
  grid-area: grid-item-16;
  background-image: url("../pictures/play/01/01_greenhands.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-17 {
  grid-area: grid-item-17;
  background-image: url("../pictures/play/01/01_arms.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-18 {
  grid-area: grid-item-18;
  background-image: url("../pictures/play/01/01_oscar-schlemmer.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-19 {
  grid-area: grid-item-19;
  background-image: url("../pictures/play/01/01_flower.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-20 {
  grid-area: grid-item-20;
  background-image: url("../pictures/play/01/01_woman.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-21 {
  grid-area: grid-item-21;
  background-image: url("../pictures/play/01/01_parapluie.jpg");
  background-position: center;
  background-size: cover;
}

.grid-item-22 {
  grid-area: grid-item-22;
  background-image: url("../pictures/play/01/01_homecoming.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-23 {
  grid-area: grid-item-23;
  background-image: url("../pictures/play/01/01_blueman_sitting.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-24 {
  grid-area: grid-item-24;
  background-image: url("../pictures/play/01/01_schwarzemasse.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-25 {
  grid-area: grid-item-25;
  background-image: url("../pictures/play/01/01_portrait.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-26 {
  grid-area: grid-item-26;
  background-image: url("../pictures/play/01/01_Ich-bin-ich.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-27 {
  grid-area: grid-item-27;
  background-image: url("../pictures/play/01/01_nonkonformist.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-28 {
  grid-area: grid-item-28;
  background-image: url("../pictures/play/01/01_masterarbeit.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-29 {
  grid-area: grid-item-29;
  background-image: url("../pictures/play/01/01_pingpongibou.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-30 {
  grid-area: grid-item-30;
  background-image: url("../pictures/play/01/01_walkingman.jpg");
  background-position: center;
  background-size: cover;
}
.grid-item-31 {
  grid-area: grid-item-31;
  background-image: url("../pictures/play/01/01_illi.jpg");
  background-position: center;
  background-size: cover;
}

@media (max-width: 1800px) {
  .grid-container {
    grid-template-rows: repeat(15, 387.5px);
  }
}
@media (max-width: 1700px) {
  .grid-container {
    grid-template-rows: repeat(15, 366px);
  }
}
@media (max-width: 1600px) {
  .text-container p {
    font-size: 60px;
  }
  .grid-container {
    grid-template-rows: repeat(15, 344px);
  }
}
@media (max-width: 1500px) {
  .grid-container {
    grid-template-rows: repeat(15, 323px);
  }
}
@media (max-width: 1400px) {
  .text-container p {
    font-size: 50px;
  }
  .grid-container {
    grid-template-rows: repeat(15, 301px);
  }
}
@media (max-width: 1300px) {
  .grid-container {
    grid-template-rows: repeat(15, 280px);
  }
}
@media (max-width: 1200px) {
  .text-container p {
    font-size: 45px;
  }
  .grid-container {
    grid-template-rows: repeat(15, 258px);
  }
}
@media (max-width: 1100px) {
  .grid-container {
    grid-template-rows: repeat(15, 237px);
  }
}
@media (max-width: 1024px) {
  .text-container p {
    font-size: 40px;
  }
  .grid-container {
    grid-template-rows: repeat(15, 220px);
  }
}
@media (max-width: 900px) {
  .grid-container {
    grid-template-rows: repeat(15, 194px);
  }
}
@media (max-width: 800px) {
  .grid-container {
    grid-template-rows: repeat(15, 172px);
  }
}
@media (max-width: 768px) {
  .text-container p {
    font-size: 35px;
  }
  .grid-container {
    grid-template-rows: repeat(15, 165px);
  }
}
@media (max-width: 700px) {
  .grid-container {
    grid-template-rows: repeat(15, 151px);
  }
}
@media (max-width: 600px) {
  .grid-container {
    grid-template-rows: repeat(15, 129px);
  }
}
@media (max-width: 500px) {
  .grid-container {
    grid-template-rows: repeat(15, 103px);
  }
}
@media (max-width: 480px) {
  .text-container p {
    font-size: 25px;
  }
  .grid-container {
    grid-gap: 5vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(51, 310px);
    grid-template-areas:
      "grid-item-1"
      "grid-item-2"
      "grid-item-2"
      "grid-item-3"
      "grid-item-3"
      "grid-item-4"
      "grid-item-5"
      "grid-item-6"
      "grid-item-7"
      "grid-item-8"
      "grid-item-9"
      "grid-item-9"
      "grid-item-10"
      "grid-item-10"
      "grid-item-11"
      "grid-item-12"
      "grid-item-13"
      "grid-item-14"
      "grid-item-14"
      "grid-item-15"
      "grid-item-15"
      "grid-item-16"
      "grid-item-16"
      "grid-item-17"
      "grid-item-17"
      "grid-item-18"
      "grid-item-19"
      "grid-item-20"
      "grid-item-21"
      "grid-item-22"
      "grid-item-23"
      "grid-item-23"
      "grid-item-24"
      "grid-item-24"
      "grid-item-25"
      "grid-item-25"
      "grid-item-26"
      "grid-item-27"
      "grid-item-28"
      "grid-item-28"
      "grid-item-29"
      "grid-item-29"
      "grid-item-30"
      "grid-item-31";
  }
}

@media (max-width: 430px) {
  .text-container p {
    font-size: 25px;
  }
  .grid-container {
    grid-template-rows: repeat(51, 310px);
  }
}
@media (max-width: 375px) {
  .text-container p {
    font-size: 23px;
  }
  .grid-container {
    grid-template-rows: repeat(51, 249px);
  }
}
@media (max-width: 320px) {
  .text-container p {
    font-size: 21px;
  }
  .grid-container {
    grid-template-rows: repeat(51, 212.5px);
  }
}

.swipe-wrap {
  height: 100%;
  width: 100%;
}
.swipe-container {
  height: 100%;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
}
