body {
  /* background-color: #000; */
  background-color: #fff;
}
nav {
  background-color: #fff;
}
nav a {
  color: #000;
}
nav span {
  color: #000;
}
#eyes {
  color: #000;
}

main {
  flex-direction: column;

  margin: 9.5vh 2.19vw 0 2.19vw;
}

.text-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 12vw 0 3vw 0;
  width: 100%;
}
.heading span {
  font-size: 70px;
  line-height: 84px;
  display: block;
}
.subtext p {
  font-size: 25px;
  line-height: 35px;
}
.subtext-mobile {
  display: none;
}
.grid-container {
  display: grid;
  grid-gap: 1.3vw;
  width: 100%;
  margin: 0 0 0 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(15, 413px);
  grid-template-areas:
    "grid-item-1 grid-item-2 grid-item-3"
    "grid-item-4 grid-item-2 grid-item-3"
    "grid-item-4 grid-item-5 grid-item-6"
    "grid-item-7 grid-item-8 grid-item-9"
    "grid-item-10 grid-item-11 grid-item-9"
    "grid-item-10 grid-item-12 grid-item-13"
    "grid-item-14 grid-item-15 grid-item-16"
    "grid-item-14 grid-item-15 grid-item-16"
    "grid-item-17 grid-item-18 grid-item-19"
    "grid-item-17 grid-item-20 grid-item-21"
    "grid-item-22 grid-item-23 grid-item-24"
    "grid-item-25 grid-item-23 grid-item-24"
    "grid-item-25 grid-item-26 grid-item-27"
    "grid-item-28 grid-item-29 grid-item-30"
    "grid-item-28 grid-item-29 grid-item-31";
}

.grid-item {
  width: 100%;
  /* display: flex; */
  /* background-color: grey; */
}
.swiper-wrapper {
  width: 100%;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  z-index: 100;
  object-fit: cover;
}

.arrow-left {
  cursor: url("../fonts/cursor_left.png"), pointer;
}
.arrow-right {
  cursor: url("../fonts/cursor_right.png"), pointer;
}

.grid-item-subtext {
  display: none;
}

.post-text {
  margin: 6.05vw 0 8.1vw 0;
}
.post-text-dots {
  color: #000000;
  font-size: 35px;
  font-family: sans-serif;
}
.grid-item-1 {
  grid-area: grid-item-1;
  background-image: url("../pictures/play/01/01_afvs.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-2 {
  grid-area: grid-item-2;
}
.grid-item-3 {
  grid-area: grid-item-3;
  background-image: url("../pictures/play/01/01_karriereleiter.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-4 {
  grid-area: grid-item-4;
}
.grid-item-5 {
  grid-area: grid-item-5;
  background-image: url("../pictures/play/01/01_play.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-6 {
  grid-area: grid-item-6;
}

.grid-item-7 {
  grid-area: grid-item-7;
  background-image: url("../pictures/play/01/01_parapluie_bird.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-8 {
  grid-area: grid-item-8;
  background-image: url("../pictures/play/01/01_flowers.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-9 {
  background-image: url("../pictures/play/01/01_black.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: grid-item-9;
}
.grid-item-10 {
  grid-area: grid-item-10;
}
.grid-item-11 {
  grid-area: grid-item-11;
  background-image: url("../pictures/play/01/01_noemotions.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-12 {
  grid-area: grid-item-12;
  background-image: url("../pictures/play/01/01_True-Emotions.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-13 {
  grid-area: grid-item-13;
  background-image: url("../pictures/play/01/01_drink.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-14 {
  grid-area: grid-item-14;
}
.grid-item-15 {
  grid-area: grid-item-15;
  background-image: url("../pictures/play/01/01_dripdripdrip.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-16 {
  grid-area: grid-item-16;
  background-image: url("../pictures/play/01/01_greenhands.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-17 {
  grid-area: grid-item-17;
  background-image: url("../pictures/play/01/01_arms.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-18 {
  grid-area: grid-item-18;
  background-image: url("../pictures/play/01/01_oscar-schlemmer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-19 {
  grid-area: grid-item-19;
  background-image: url("../pictures/play/01/01_flower.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-20 {
  grid-area: grid-item-20;
  background-image: url("../pictures/play/01/01_woman.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-21 {
  grid-area: grid-item-21;
}

.grid-item-22 {
  grid-area: grid-item-22;
  background-image: url("../pictures/play/01/01_homecoming.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-23 {
  grid-area: grid-item-23;
}
.grid-item-24 {
  grid-area: grid-item-24;
}
.grid-item-25 {
  grid-area: grid-item-25;
  background-image: url("../pictures/play/01/01_portrait.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-26 {
  grid-area: grid-item-26;
}
.grid-item-27 {
  grid-area: grid-item-27;
  background-image: url("../pictures/play/01/01_nonkonformist.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-28 {
  grid-area: grid-item-28;
  background-image: url("../pictures/play/01/01_masterarbeit.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-29 {
  grid-area: grid-item-29;
  background-image: url("../pictures/play/01/01_pingpongibou.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-item-30 {
  grid-area: grid-item-30;
}
.grid-item-31 {
  grid-area: grid-item-31;
}

@media (max-width: 1800px) {
  .grid-container {
    grid-template-rows: repeat(15, 387.5px);
  }
}
@media (max-width: 1700px) {
  .grid-container {
    grid-template-rows: repeat(15, 366px);
  }
}
@media (max-width: 1600px) {
  /* .text-container p {
    font-size: 60px;
  } */
  .grid-container {
    grid-template-rows: repeat(15, 344px);
  }
}
@media (max-width: 1500px) {
  .grid-container {
    grid-template-rows: repeat(15, 323px);
  }
}
@media (max-width: 1400px) {
  /* .text-container p {
    font-size: 50px;
  } */
  .grid-container {
    grid-template-rows: repeat(15, 301px);
  }
}
@media (max-width: 1300px) {
  .grid-container {
    grid-template-rows: repeat(15, 280px);
  }
}
@media (max-width: 1200px) {
  /* .text-container p {
    font-size: 45px;
  } */
  .grid-container {
    grid-template-rows: repeat(15, 258px);
  }
}
@media (max-width: 1100px) {
  .grid-container {
    grid-template-rows: repeat(15, 237px);
  }
}
@media (max-width: 1024px) {
  /* .text-container p {
    font-size: 40px;
  } */
  .grid-container {
    grid-template-rows: repeat(15, 220px);
  }
}
@media (max-width: 900px) {
  .grid-container {
    grid-template-rows: repeat(15, 194px);
  }
}
@media (max-width: 800px) {
  .grid-container {
    grid-template-rows: repeat(15, 172px);
  }
}
@media (max-width: 768px) {
  /* .text-container p {
    font-size: 35px;
  } */
  .grid-container {
    grid-template-rows: repeat(15, 165px);
  }
}
@media (max-width: 700px) {
  .grid-container {
    grid-template-rows: repeat(15, 151px);
  }
}
@media (max-width: 600px) {
  .grid-container {
    grid-template-rows: repeat(15, 129px);
  }
}
@media (max-width: 500px) {
  .grid-container {
    grid-template-rows: repeat(15, 103px);
  }
}
@media (max-width: 480px) {
  .text-container {
    flex-direction: column;
    margin-bottom: 2.5vw;
  }
  .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .heading span {
    font-size: 25px;
    line-height: 30px;
  }
  .subtext {
    margin: 6vw 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .subtext p {
    display: none;
  }
  .subtext-mobile {
    font-size: 13px;
    line-height: 18px;
  }

  .grid-item-subtext {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .grid-item-subtext span {
    color: #000;
    font-size: 15px;
    padding-left: 3vw;
  }
  .grid-item-subtext .arr {
    font-size: 23px;
  }
  .grid-container {
    grid-gap: 5vw;
    grid-template-columns: 1fr;
    grid-template-rows:
      repeat(3, 310px) 0vw repeat(4, 310px) 0vw repeat(2, 310px)
      0vw repeat(6, 310px) 0vw repeat(5, 310px) 0vw repeat(10, 310px) 0vw repeat(
        3,
        310px
      )
      0vw repeat(2, 310px) 0vw repeat(3, 310px) 0vw repeat(6, 310px) 0vw 310px 0vw;
    grid-template-areas:
      "grid-item-1"
      "grid-item-2"
      "grid-item-2"
      "sub1"
      "grid-item-3"
      "grid-item-3"
      "grid-item-4"
      "grid-item-4"
      "sub2"
      "grid-item-5"
      "grid-item-6"
      "sub3"
      "grid-item-7"
      "grid-item-8"
      "grid-item-9"
      "grid-item-9"
      "grid-item-10"
      "grid-item-10"
      "sub4"
      "grid-item-11"
      "grid-item-12"
      "grid-item-13"
      "grid-item-14"
      "grid-item-14"
      "sub5"
      "grid-item-15"
      "grid-item-15"
      "grid-item-16"
      "grid-item-16"
      "grid-item-17"
      "grid-item-17"
      "grid-item-18"
      "grid-item-19"
      "grid-item-20"
      "grid-item-21"
      "sub6"
      "grid-item-22"
      "grid-item-23"
      "grid-item-23"
      "sub7"
      "grid-item-24"
      "grid-item-24"
      "sub8"
      "grid-item-25"
      "grid-item-25"
      "grid-item-26"
      "sub9"
      "grid-item-27"
      "grid-item-28"
      "grid-item-28"
      "grid-item-29"
      "grid-item-29"
      "grid-item-30"
      "sub10"
      "grid-item-31"
      "sub11";
  }
}

@media (max-width: 430px) {
  .grid-container {
    grid-template-rows:
      repeat(3, 294px) 0vw repeat(4, 294px) 0vw repeat(2, 294px)
      0vw repeat(6, 294px) 0vw repeat(5, 294px) 0vw repeat(10, 294px) 0vw repeat(
        3,
        294px
      )
      0vw repeat(2, 294px) 0vw repeat(3, 294px) 0vw repeat(6, 294px) 0vw 294px 0vw;
  }
}
@media (max-width: 375px) {
  .grid-container {
    grid-template-rows:
      repeat(3, 249px) 0vw repeat(4, 249px) 0vw repeat(2, 249px)
      0vw repeat(6, 249px) 0vw repeat(5, 249px) 0vw repeat(10, 249px) 0vw repeat(
        3,
        249px
      )
      0vw repeat(2, 249px) 0vw repeat(3, 249px) 0vw repeat(6, 249px) 0vw 249px 0vw;
  }
  .subtext-mobile {
    font-size: 11.9px;
    line-height: 18px;
  }
}
@media (max-width: 320px) {
  .grid-container {
    grid-template-rows:
      repeat(3, 212.5px) 0vw repeat(4, 212.5px) 0vw repeat(2, 212.5px)
      0vw repeat(6, 212.5px) 0vw repeat(5, 212.5px) 0vw repeat(10, 212.5px) 0vw repeat(
        3,
        212.5px
      )
      0vw repeat(2, 212.5px) 0vw repeat(3, 212.5px) 0vw repeat(6, 212.5px) 0vw 212.5px 0vw;
  }
}
