body {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
nav {
  height: 9.5vh;
  width: 100vw;
  background-color: #000;
}
nav a {
  color: #fff;
}
nav span {
  color: #fff;
}

#eyes {
  color: #fff;
}
main {
  display: flex;
  background-color: #000;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 9.5vh 0 0 0;
}

.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 81.5vh;
  width: 100vw;
  flex-direction: column;
  overflow: hidden;
}
.arrow-left {
  cursor: url("../fonts/cursor_left.png"), pointer;
}
.arrow-right {
  cursor: url("../fonts/cursor_right.png"), pointer;
}
.swiper-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.slider-sub {
  font-size: 25px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 9vh;
}

.slider-sub-left {
  padding-left: 3vw;
}

#dots {
  font-size: 30px;
  padding: 0 2vw 0 2vw;
}

.dots {
  font-size: 18px;
}

.slider-sub-right {
  display: flex;
  margin-right: 4vw;
}

.info {
  cursor: pointer;
  margin-right: 3vw;
}

.info-card-text-left {
  display: flex;
  width: 49.15vw;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10.1vh 0 0 8.91vw;
}

.info-card-text-right {
  padding: 10.1vh 0 0 15vw;
}

/* swiper */
.swiper-pagination {
  width: 3.5vw;
  display: flex;
  justify-content: space-around;
  font-family: "Non Natural Grotesk Medium";
  position: static;
}
.swiper-pagination-current {
  padding-right: 0.8vw;
}
.swiper-pagination-total {
  padding-left: 0.8vw;
}

.info-container {
  position: absolute;
  background-color: #fff;
  display: none;
  height: 81.5vh;
  width: 100vw;
  line-height: 30px;
  font-size: 12px;
  z-index: 2;
  overflow: hidden;
}

.info-container-visible {
  display: flex;
}
.info-container-hidden {
  display: none;
}

@media (max-width: 1024px) {
  .slider-sub {
    font-size: 20px;
  }
  #dots {
    font-size: 23px;
  }
  .info {
    margin-right: 4vw;
  }
}
@media (max-width: 768px) {
  .slider-sub {
    font-size: 18px;
  }
  #dots {
    font-size: 21px;
  }
}
@media (max-width: 600px) {
  .slider-sub {
    font-size: 16px;
  }
  #dots {
    font-size: 19px;
  }
}
@media (max-width: 480px) {
  .slider-sub {
    font-size: 14px;
  }
  #dots {
    font-size: 17px;
  }
  .info-container {
    line-height: 14px;
  }
}
@media (max-width: 420px) {
  .slider-sub {
    font-size: 12px;
  }
  #dots {
    font-size: 15px;
  }
}
