@import url("nav.css");
@import url("footer.css");
/* fonts */
@font-face {
  font-family: "Non Natural Grotesk Regular";
  src: url("../fonts/NON\ Natural\ Grotesk-Regular.otf");
}

@font-face {
  font-family: "Non Natural Grotesk Medium";
  src: url("../fonts/NON\ Natural\ Grotesk-Medium.otf");
}

@font-face {
  font-family: "Non Natural Grotesk Light";
  src: url("../fonts/NON\ Natural\ Grotesk-Light.otf");
}

* {
  font-family: "Non Natural Grotesk Regular";
  color: black;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

/* main */
main {
  display: flex;
  flex: auto;
  /* margin: 162px 120px 195px 120px; */
  margin: 15vh 6.25vw 18.1vh 6.25vw;
}

.dots {
  letter-spacing: 4px;
  font-weight: bold;
  font-family: sans-serif;
}

.post-text-arr {
  cursor: pointer;
}
