main {
  flex-direction: column;
  font-size: 25px;
  margin: 9.5vh 2.19vw 0 2.19vw;
}

.heading {
  margin-top: 5.3vw;
}
.heading h1 {
  font-size: 70px;
  line-height: 84px;
}

/* filter */
.filter {
  padding: 4vw 0 1.5vw 0;
}
.filter-name {
  font-family: "Non Natural Grotesk Light";
  cursor: pointer;
}

.on {
  font-family: "Non Natural Grotesk Medium";
}

#work-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.2%;
}

.work-grid-item img:hover {
  transform: scale(1.15);
}
.work-grid-item img:active {
  transform: scale(1);
}
#gif:hover {
  transform: scale(1.15);
}
#gif:active {
  transform: scale(1);
}

.work-grid-item  a {
  width: 100%;
  height: 100%;
}
.work-grid-item-img {
  width: 100%;
  height: 21.5vw;
  overflow: hidden;
}

.work-grid-item-img img {
  transition: 0.3s ease;
  width: 100%;
  height: 100%;
}

#gif {
  width: 100%;
  height: 100%;
  background-image: url("../pictures/work/08_work_b_5.gif");
  background-size: cover;
  background-position: center;
  transition: 0.3s ease;
}
.work-grid-item-sub {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.8vw;
  background-color: #fff;
}
.dots {
  font-size: 30px;
  padding-left: 3.5%;
}

.post-text {
  margin: 6.05vw 0 8.1vw 0;
}
.post-text-dots {
  color: #000000;
  font-size: 35px;
  font-family: sans-serif;
}

@media (max-width: 1600px) {
  main {
    font-size: 20px;
  }
  .dots {
    font-size: 30px;
  }
  .heading h1 {
    font-size: 65px;
    line-height: 75px;
  }
  .filter span {
    font-size: 23px;
  }
}
@media (max-width: 1400px) {
  main {
    font-size: 20px;
  }
  .dots {
    font-size: 30px;
  }
  .heading h1 {
    font-size: 60px;
    line-height: 70px;
  }
  .filter span {
    font-size: 21px;
  }
}

@media (max-width: 1024px) {
  .work-grid-item-sub {
    font-size: 15px;
  }
  .dots {
    font-size: 25px;
  }
  .heading h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .filter span {
    font-size: 18px;
  }
}
@media (max-width: 900px) {
  .work-grid-item-sub {
    font-size: 14px;
  }
  .dots {
    font-size: 20px;
  }
  .heading h1 {
    font-size: 45px;
    line-height: 55px;
  }
  .filter span {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  #work-grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .filter {
    font-size: 18px;
  }
  .work-grid-item-img {
    height: 32.6vw;
  }
  .work-grid-item-sub {
    font-size: 16px;
    height: 4.3vw;
  }
  .dots {
    font-size: 23px;
  }
  .heading h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .filter span {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  .filter {
    font-size: 17px;
  }
  .work-grid-item-sub {
    font-size: 13px;
  }
  .dots {
    font-size: 20px;
  }
  .heading h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .filter span {
    font-size: 12px;
  }
}
@media (max-width: 550px) {
  .filter {
    font-size: 15px;
  }
  .work-grid-item-sub {
    font-size: 13px;
  }
  .dots {
    font-size: 18px;
  }
  .heading h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .filter span {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  main {
    margin: 10vh 6.25vw 15vh 6.25vw;
  }
  .filter {
    padding: 12vw 0 4.5vw 0;
    font-size: 18px;
  }
  #work-grid-container {
    grid-template-columns: 1fr;
  }
  .work-grid-item-img {
    height: 60.4vw;
  }
  .work-grid-item-sub {
    font-size: 18px;
    height: 8vw;
  }
  .dots {
    font-size: 20px;
  }
  .heading h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .filter {
    padding-top: 4vw;
  }
  .filter span {
    font-size: 10px;
  }
  .post-text-dots {
    font-size: 35px;
  }
}
@media (max-width: 420px) {
  .filter {
    font-size: 17px;
  }
  .dots {
    font-size: 20px;
  }
  .work-grid-item-sub {
    font-size: 17px;
  }
}
@media (max-width: 375px) {
  .filter {
    font-size: 15px;
  }
  .dots {
    font-size: 20px;
  }
  .work-grid-item-sub {
    font-size: 15px;
  }
}
