body {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
nav {
  height: 9.5vh;
  width: 100vw;
  background-color: #000;
}
nav a {
  color: #fff;
}
nav span {
  color: #fff;
}

#eyes {
  color: #fff;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 9.5vh 0 0 0;
}

.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 81.5vh;
  width: 100vw;
  flex-direction: column;
}
.swiper-container img {
  height: 100%;
  width: 100%;
}

.slider-sub {
  font-size: 25px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 10vh;
}

.swiper-pagination {
  font-size: 16px;
  height: 10px;
  width: 10px;
  font-family: "Non Natural Grotesk Medium";
  position: static;
}
/* swipe js */
